a.nav-link {
    margin: 0 15px 0 15px;
}

hr {
    margin-top:50px;margin-bottom:50px;
}

html {
height: 100%;
box-sizing: border-box;
}

body {
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
}

.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    height: 80px;
    line-height: 40px;
    background-color: #f8f9fa;
    text-align: center;
}

img.details {
    width: 100%;
    margin: 15px auto;
}

.productimg {
    width: 100%;
    margin: 15px auto;
}

.saved-image {
    width: 100px ;
    height: auto ;
}